body{
    color: crimson;
    background-color: slategray;
    font-size: 1.6em;
    font-family: sans-serif;
}
h1{
    background-color: slategray;
    color: crimson;
}
.center{
    text-align: center;
}
.games{
    text-align: center;
}
.hobbies{
    text-align: center;
}