body{
    color: crimson;
    background-color: #77C2FD;
    font-size: 1.6em;
    font-family: sans-serif;
}
h1{
    background-color: #77C2FD;
    color: crimson;
}
.games{
    text-align: center;
}
.hobbies{
    text-align: center;
}